body{
    background-image:url(FFAB79D7-2EC6-4483-9741-854AD936A6BE.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    width: fit-content;
    height: 100vh;   
     
}
.app{
    position: relative;
    left: 38vw;
    top: 10vh;
    border: 10px solid darkblue;
    border-radius: 20px;
    background: white;
    width: 30vw;
}
#question{
    border: 6px solid darkblue;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    padding: 10px;
    background-color: white;
}
.app h2{
    border: 6px solid darkblue;
    background: white; 
    width: fit-content;
    height: 200px;
    position: static;
}
#answer-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    gap: 10px;
    padding: 10px;
    margin: 20px;
    
    
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.btn{
    background-color: darkblue;
    color: white;
    font-weight: 500;
    font-size:20px;
    transition: all;
    border-radius: 5px;
}
.btn:hover{
    background: black;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
}
.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
.correct:hover{
    background-color: green;
}
.incorrect:hover{
    background: red ;
}
#next-btn{
    background: white;
    color: darkblue;
    font-weight: 400;
    width: 100px;
    margin: 5px 70% 5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
